@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;500;700&family=Roboto:wght@400;500&family=Sen:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container-366, .container-238, .container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.container {
  max-width: 1320px;
}

.container-238 {
  max-width: 1064px;
}

.container-366 {
  max-width: 808px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100 vw;
  height: 550px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #1C1E53;
}

.hero__text {
  margin-left: 150px;
  padding-top: 80px;
  width: 582px;
  height: 414px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.hero__text .text__h2 {
  width: 582px;
  color: #FFF;
  font-family: Poppins;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 74px;
}
.hero__text .text__p {
  margin-top: 20px;
  width: 562px;
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  opacity: 0.7;
}

.hero__bootm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.hero__btn {
  margin-top: 35px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 16px 56px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 41px;
  background: #FCD980;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hero__btn:hover {
  background: #695d41;
}

.hero__hight {
  margin-top: 80px;
  margin-left: 100px;
  width: 638px;
  height: 361.115px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.hight__photo {
  width: 638px;
  height: 361.115px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.our__work {
  margin: 55px 0px;
  width: 1280px;
  height: 728px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.work__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.header__h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  width: 467px;
  color: #282938;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
}

.text__pp {
  margin-left: 600px;
  padding-top: 30px;
  color: #282938;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.strelka {
  padding-top: 5px;
}

.part__1 {
  margin-top: 30px;
}

.kenzo {
  width: 743px;
  height: 600px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-image: url(/images/Card.png);
}

.blour {
  width: 396px;
  height: 600px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
}
.blour .blour__h2 {
  width: 313px;
  padding-top: 250px;
  margin-right: auto;
  margin-left: auto;
  color: #FFF;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.blour .blour__p {
  width: 293px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  opacity: 0.8;
}
.blour .fort {
  margin-top: 20px;
  margin-left: 50px;
  color: #FCD980;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.part__2 {
  margin-left: 800px;
  margin-top: -600px;
  width: 405px;
  height: 284px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.part__2 .kenzoo {
  width: 405px;
  height: 284px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-image: url(/images/Rectangle\ 1313.png);
}
.part__2 .blourr {
  width: 405px;
  height: 284px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
}
.part__2 .blourr .blourr__h2 {
  padding-top: 100px;
  margin-left: 50px;
  width: 313px;
  color: #FFF;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.part__2 .blourr .blourr__p {
  padding-top: 15px;
  margin-left: 50px;
  color: #FCD980;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.part__3 {
  margin-left: 800px;
  margin-top: 35px;
}
.part__3 .picture {
  width: 405px;
  height: 284px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
}

.wort {
  background: #F4F6FC;
}

.features__header {
  padding: 50px 0px;
}
.features__header .features__h6 {
  margin-left: auto;
  margin-right: auto;
  width: 419px;
  color: #282938;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.features__header .features__h3 {
  margin-left: auto;
  margin-right: auto;
  width: 630px;
  color: #282938;
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-bottom: 50px;
}

.features__row {
  width: 405px;
  height: 316px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #FFF;
}
.features__row .comfort {
  margin-top: 50px;
  margin-left: 50px;
  width: 35px;
  height: 35px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.features__row .row {
  margin-top: 30px;
  margin-left: 50px;
  width: 314.748px;
  color: #282938;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}
.features__row .roww {
  margin-top: 10px;
  margin-left: 50px;
  width: 324.079px;
  color: #282938;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
}

.edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.edit .postt__1 {
  margin: 50px 0px;
}
.edit .postt__1 .postt__h1 {
  width: 327px;
  color: #282938;
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
}
.edit .postt__1 .postt__p {
  width: 327px;
  color: #282938;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
}
.edit .postt__2 {
  margin: 50px 0px 0px 60px;
}
.edit .postt__2 .lolo {
  width: 843px;
  color: #282938;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
}

.first__women {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}
.first__women .google__h4 {
  width: 183px;
  color: #282938;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
.first__women .google__p {
  width: 183px;
  color: #282938;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}